@using Notiflex.ViewModels;
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}
<link href="~/css/identitystyle.css" rel="stylesheet" />
<link href="~/css/loginregister.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="~/css/chain/templatemo-chain-app-dev.css" rel="stylesheet" />
<link href="~/css/chain/animated.css" rel="stylesheet" />
<link href="~/css/chain/owl.css" rel="stylesheet" />

<partial name="_UnauthorizedHeaderPartial"/>
    <div class="container mt-5">
        <div id="login-form-wrap">
            <h2>Login</h2>
            <form id="login-form" method="post" asp-controller="Account" asp-action="Login">
                <p>
                    <input type="text" asp-for=@Model.Email autocomplete="on" placeholder="E-Mail" area-required="true">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </p>
                <p class="mt-3">
                    <input type="password" id="password-field" asp-for=@Model.Password autocomplete="on" placeholder="Password" area-required="true">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </p>
                <p class="mt-3">
                    <button type="submit" class="button">Login</button>
                </p>
            </form>
            <div id="create-account-wrap" class="mt-3">
                <p>Not a member? <a href="@Url.Action("Register", "Account")">Create Account</a><p>
            </div>
        </div>
    </div>
