@using Notiflex.Core.Models.DashboardModels
@model DashbardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<head>

    <partial name="_DashboardStyleConnectionsPartial"></partial>

</head>
<body>

    <partial name="_DashboardSidebarPartial"></partial>

    <div class="wrapper d-flex flex-column min-vh-100 bg-light">

        <partial name="_DashboardHeaderPartial" model="@Model.ProfileView"></partial>

        <div class="body flex-grow-1 px-3">
            <div class="container-lg">

                @*>-------DashboardWeatherCardPartial-------<*@

                <partial name="_DashboardWeatherCardPartial" model="@Model.DashboardWeatherCard"></partial>

                @*>-----------------------------------------<*@

            </div>
        </div>
        
        <partial name="_DashboardFooterPartial"></partial>

    </div>

    <partial name="_DashboardScriptsPartial"></partial>
    
</body>