@using AutoMapper;
@using Notiflex.Core.Services.Contracts;
@using Notiflex.ViewModels;
@using System.Security.Claims;
@inject IMapper mapper;
@inject IAccountService _accountService;
@{
    var userId = User.Claims.FirstOrDefault(a => a.Type == ClaimTypes.NameIdentifier)?.Value;
    var profileData = mapper.Map<ProfileViewModel>(await _accountService.GetUserData(userId ?? string.Empty));
    var viewPath = ViewContext.View.Path;
}
<link href="~/css/triggers/dashboardtriggerlist.css" rel="stylesheet" />

<header id="dashboardHeader" class="header  mb-4">
    <div class="container-fluid">
        <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <i class="fa-solid fa-bars"></i>
        </button><a class="header-brand d-md-none" href="#">

        </a>
        <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a></li>
        </ul>
        <ul class="header-nav ms-auto">
        </ul>
        <ul class="header-nav ms-3">
            <form asp-action="CreateTrigger" asp-controller="Dashboard" asp-area="Main" method="get">
                <button type="submit" class="triggers-form-btn">Create Trigger</button>
            </form>
            <li class="nav-item dropdown">
                <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><img class="avatar-img" src="@profileData.ProfilePic" alt="https://i.pinimg.com/550x/57/70/f0/5770f01a32c3c53e90ecda61483ccb08.jpg"></div>
                </a>
                <div class="dropdown-menu dropdown-menu-end pt-0">
                    <div class="dropdown-header bg-light py-2">
                        <div class="fw-semibold">Profile</div>
                    </div>
                    <a asp-action="Profile" asp-controller="Dashboard" asp-area="Main" class="dropdown-item">
                        <svg class="icon me-2">
                        </svg> Edit Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="Home">
                        <svg class="icon me-2">
                        </svg> Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>
