@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="widgets">
    <div class="weathernews">
        <div class="news">
            <div class="title">News</div>
            <div class="newsImg center">
                <img src="https://i.ndtvimg.com/i/2018-01/cold-wave-delhi-pti_650x400_51515266475.jpg" alt="">
            </div>
            <div class="headline">Season's Coldest Day In Delhi</div>
            <div class="matter">
                The national capital on Saturday experienced its first coldest day of this season as the minimum temperature dropped to 4.2 degree Celsius, three notches below the average. Sunday will also be chilly.
            </div>
        </div>
    </div>
</div>