@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="sidebar sidebar-light sidebar-fixed" id="sidebar">
        <div class="sidebar-brand d-none d-md-flex">
            <img class="scaledown" src="~/images/logos/notiflex_logo_01.png" alt="Notiflex" />
        </div>
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-title">Information</li>

            <li class="nav-item">
                <a class="nav-link" asp-action="Weather" asp-controller="Dashboard" asp-asp-area="Main">
                    Weather
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="colors.html">
                    Colors
                </a>
            </li>           
         </ul>
    </div>