
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Notiflex</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1d4dfb315f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <partial name="_DashboardStyleConnectionsPartial"></partial>

    <link href="~/css/dashboard/maindashboard.css" rel="stylesheet" />
</head>
<body>

    <partial name="_DashboardSidebarPartial"></partial>

    <div id="layoutWrapper" class="wrapper d-flex flex-column min-vh-100">

        <partial name="_DashboardHeaderPartial"></partial>

        <div class="body flex-grow-1 px-3">
            <div class="container-lg">

                <main role="main">
                    @if (TempData["StatusMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show">
                            @TempData["StatusMessage"]
                            
                        </div>
                    }
                    @if (TempData["StatusMessageDanger"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            @TempData["StatusMessageDanger"]
                            
                        </div>
                    }
                    @RenderBody()
                </main>

            </div>
        </div>

        <partial name="_DashboardFooterPartial"></partial>

    </div>




    <partial name="_DashboardScriptsPartial"></partial>
    <script>
        // When the user scrolls the page, execute myFunction
        window.onscroll = function () { myFunction() };

        // Get the header
        var header = document.getElementById("dashboardHeader");

        // Get the offset position of the navbar
        var sticky = 75;

        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("header-sticky");
            } else {
                header.classList.remove("header-sticky");
            }
        }
    </script>
</body>


</html>
