@using Notiflex.Core.Models.HomePageModels;
@model List<IndexModel>
@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/homepage.css" rel="stylesheet" />

<div class="welcome text-center">
    <img class="logo-bg unselectable" src="~/css/logo-no-background (2).png" />
    <div class="bg-text">
        <p class="unselectable">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a tincidunt neque. Curabitur euismod sit amet sem non cursus. Nulla dictum neque neque, vitae laoreet diam ullamcorper at. Phasellus eget efficitur tortor, sed rutrum quam. Nulla quis venenatis ex, non placerat ipsum. Cras vulputate interdum ante a venenatis. Integer auctor massa dui, sit amet placerat nibh rhoncus eu. Sed tellus justo, venenatis in sem vitae, pellentesque pulvinar tortor. Pellentesque dictum, ipsum a lobortis semper, est massa euismod enim, ut tincidunt odio diam ut erat. Duis sit amet felis efficitur, condimentum sem nec, tristique neque. Nam ac lacus eget ipsum tincidunt tempus vel vitae risus. Nam aliquam odio eu fermentum porttitor. Duis finibus nisl leo, sit amet ultrices sem eleifend nec.
        </p>
    </div>
    @if(User?.Identity?.IsAuthenticated ?? false)
    {
        <a type="submit" href="@Url.Action("Browse", "Home")" class="button">Browse</a>
    }
    else
    {
        <a type="submit" href="@Url.Action("Register", "Account")" class="button">Join us</a>
    }
</div>