<!-- ***** Preloader Start ***** -->
@*<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>*@
<!-- ***** Preloader End ***** -->
<!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="~/css/chain/templatemo-chain-app-dev.css" rel="stylesheet" />
<link href="~/css/chain/animated.css" rel="stylesheet" />
<link href="~/css/chain/owl.css" rel="stylesheet" />

<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a asp-action="Index" asp-controller="Home" class="logo">
                        <img src="~/images/logos/NotiFlex_LOGO_01.png" alt="Chain App Dev">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#services">Services</a></li>
                        @*<li class="scroll-to-section"><a href="#about">About</a></li>
                        <li class="scroll-to-section"><a href="#pricing">Pricing</a></li>*@
                        <li class="scroll-to-section"><a href="#newsletter">Newsletter</a></li>
                        <li><div class="gradient-button"><a id="modal_trigger" asp-action="Login" asp-controller="Account"><i class="fa fa-sign-in-alt"></i> Log In</a></div></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Your Time. <br/>Our Responsibility.</h2>
                                    <p>  Notiflex is the ultimate weather app for anyone who wants to stay informed and prepared. Whether you're facing sunny skies or rainy weather, our app will provide you with the information and advice you need to dress appropriately and be one step ahead. Join us now!</p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="white-button first-button scroll-to-section">
                                        <a asp-action="Register" asp-controller="Account">Create an Account</a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="~/images/logos/notiflex_picture.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>Amazing <em>Services &amp; Features</em> for you</h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                    <p>Introducing Notiflex, the ultimate weather report app! Get advanced and customized weather reports, along with outfit recommendations, all in one place. Personalize your reports with Notiflex tokens and choose from a variety of message templates. Set the time of day for your updates and receive multiple reports as the day progresses. Trust in our app, powered by OpenWeatherApi for accurate weather data, and receive your reports via Telegram. Don't let the weather catch you off guard. Download Notiflex today!</p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="service-item first-service">
                    <div class="icon"></div>
                    <h4>App Maintenance</h4>
                    <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                    <div class="text-button">
                        <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item second-service">
                    <div class="icon"></div>
                    <h4>Rocket Speed of App</h4>
                    <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.</p>
                    <div class="text-button">
                        <a href="#">Read More<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item third-service">
                    <div class="icon"></div>
                    <h4>Multi Workflow Idea</h4>
                    <p>If this template is beneficial for your work, please support us <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
                    <div class="text-button">
                        <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>            
        </div>
    </div>*@
</div>

@*<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h4>About <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="~/images/chain/logofinal.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Maintance Problems</a></h4>
                            <p>Lorem Ipsum Text</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">24/7 Support &amp; Help</a></h4>
                            <p>Lorem Ipsum Text</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Fixing Issues About</a></h4>
                            <p>Lorem Ipsum Text</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Co. Development</a></h4>
                            <p>Lorem Ipsum Text</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor idunte ut labore et dolore adipiscing  magna.</p>
                        <div class="gradient-button">
                            <a href="#">Start 14-Day Free Trial</a>
                        </div>
                        <span>*No Credit Card Required</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">
                    <img src="~/images/chain/about-right-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>*@

<footer id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h4>Join our mailing list to receive the news &amp; latest trends</h4>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3">
                <form id="search" action="#" method="GET">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <fieldset>
                                <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <fieldset>
                                <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Contact Us</h4>
                    <p>Veliko Tarnovo, Bulgaria</p>
                    <p><a href="#">+359 89 557 9275</a></p>
                    <p><a href="#">notiflexnoreply@gmail.com</a></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>About Us</h4>
                    <ul>
                        <li>
                            <a href="#">
                                With Notiflex, you can stay ahead of the weather.
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Contributions</h4>
                    <ul>
                        <li><a href="https://www.freepik.com/free-vector/meteorology-abstract-concept-vector-illustration-met-station-meteorology-program-university-degree-weather-prediction-method-measuring-instruments-atmosphere-study-abstract-metaphor_11668297.htm#query=weather&position=20&from_view=search&track=sph">Images by vectorjuice on Freepik</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>About Us</h4>
                    <div class="logo">
                        <img src="~/images/logos/325426440_3308245386059525_1586448652035003285_n.png" />
                    </div>
                    <p>Get ready for anything with Notiflex - advanced weather reports and fashionably smart outfit suggestions.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>
                        Copyright © 2023 Notiflex App. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Scripts -->
<script src="~/lib//jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/chain/owl-carousel.js"></script>
<script src="~/js/chain/animation.js"></script>
<script src="~/js/chain/custom.js"></script>
<script src="~/js/chain/imagesloaded.js"></script>
<script src="~/js/chain/popup.js"></script>