@using Notiflex.ViewModels;
@model List<WeatherCardViewModel>
@{
    string value = string.Empty;
}
<link href="~/css/chain/animated.css" rel="stylesheet" />
<link href="~/css/chain/owl.css" rel="stylesheet" />
<link href="~/css/searchbar.css" rel="stylesheet" />

@*<form method="post">
    <div id="tochange" class="box">
        <input id="tochange" asp-for="@value" type="text" type="text" class="input" placeholder="Search">
        <button id="searchBtn" onclick="Transform()" class="btn" type="submit"><i><img src="~/images/search.svg" /></i></button>
    </div>
</form>*@
<div class="row height">
    <div id="searchContainer" class="container">
        <div class="form mb-5">
            <i class="fa fa-search"></i>
            <form asp-action="Weather" asp-controller="Dashboard" asp-area="Main" method="post">
                <input asp-route-value="value" asp-for="@value" type="search" class="form-control form-input" placeholder="Search for a city...">
            </form>
        </div>
    </div>
</div>


@if (Model != null && Model.First().Avalable)
{
    <div class="dashboardContainer wow slideInRight" data-wow-duration="0.75s" data-wow-delay="0s">
        <partial name="_DashboardWeatherCardPartial" model="@Model"></partial>
    </div>
}


<script src="~/js/chain/owl-carousel.js"></script>
<script src="~/js/chain/animation.js"></script>
<script src="~/js/chain/custom.js"></script>