body {
}

.trigger-form {
    display: flex;
    justify-content: left;
}

.create-trigger-btn {
    font-size: 15px;
    line-height: 1.5;
    color: white;
    width: 100%;
    background: rgb(125, 124, 124);
    height: 50px;
    border-radius: 8px;
    transition: 0.5s;
    border-style: solid;
    transition-duration: all 0.5s;
}

    .create-trigger-btn:hover {
        background: rgb(74, 74, 74);
    }

.check-box {
    margin: 5px;
}

.text-bx {
    margin: 5px;
}

.title-inpt {
    font-size: 26px;
    color: black;
    text-decoration: none;
}

    .title-inpt:hover {
        color: black;
    }

.inpt-box {
    width: 500px;
    padding: 10px;
}

.list {
    list-style-type: none;
}

.no-tirgger-img {
    width: 400px;
    height: auto
}

.no-trigger-ctr {
    display: block;
    margin-top: 100px;
}

.no-trigger-box {
    text-align: center;
    display: block;
    font-size: 25px;
}

.create-trigger {
    color: rgb(77, 137, 240);
    text-decoration: none;
}

    .create-trigger:hover {
        color: rgb(77, 137, 240);
        text-decoration: underline;
    }

@media (max-width: 767px) {
    .no-tirgger-img {
        width: 300px;
        height: auto
    }

    .inpt-box {
        width: 500px;
        padding: 10px;
    }

    .trigger-form {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .inpt-box {
        width: 400px;
        padding: 10px;
    }

    .trigger-form {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .inpt-box {
        width: 300px;
        padding: 10px;
    }

    .trigger-form {
        justify-content: center;
    }
}
