@using Notiflex.ViewModels;
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/templates/login_v1/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/css/main.css">
    <link href="~/css/chain/animated.css" rel="stylesheet" />
    <link href="~/css/chain/owl.css" rel="stylesheet" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-register100 wow slideInRight" data-wow-duration="0.75s" data-wow-delay="0s">
                @*<div class="login100-pic js-tilt" data-tilt>
                <img src="~/images/notifications@2x.jpg" alt="IMG">
                </div>*@

                <form method="post" asp-controller="Account" asp-action="Login" class="login100-form">
                    @if (TempData["StatusMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show">
                            @TempData["StatusMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @if (TempData["StatusMessageDanger"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            @TempData["StatusMessageDanger"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <span class="login100-logo-span"><a class="login100-logo-a" asp-controller="Home" asp-action="Index"><img class="login100-logo" src="~/images/logos/notiflex_logo_01.png" /></a></span>
                    @*                    <span class="login100-form-title">
                    Member Login
                    </span>*@

                    <div class="wrap-input100">
                        <input asp-for="@Model.Email" class="input100" type="text" name="email" placeholder="Email" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100">
                        <input asp-for="@Model.Password" class="input100" type="password" name="password" placeholder="Password" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" asp-action="Register" asp-controller="Account" asp-area="Home">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="~/js/chain/owl-carousel.js"></script>
<script src="~/js/chain/animation.js"></script>
<script src="~/js/chain/custom.js"></script>
